cargo-features = ["codegen-backend", "profile-rustflags"]

[package]
name = "smartboard"
description = "A powerful digital whiteboard and drawing application built with Rust, winit, egui, and wgpu."
version = "0.0.1"
edition = "2024"
repository = "https://github.com/Ujhhgtg/smartboard"
license-file = "LICENSE"
readme = "README.md"
build = "build.rs"

# use cargo-features-manager
[dependencies]
egui = { version = "0.33.3", features = ["serde"], default-features = false }
egui-wgpu = { version = "0.33.3", features = ["winit", "wayland"] }
egui-winit = { version = "0.33.3", default-features = false, features = [
    "wayland",
] }
wgpu = { version = "27.0.1", features = ["webgpu", "webgl", "serde"] }
winit = { version = "0.30.12", features = [
    "rwh_06",
    "wayland",
    "wayland-csd-adwaita",
    "wayland-dlopen",
], default-features = false }
pollster = "*"
rfd = "*"
image = { version = "*", features = [
    "default-formats",
], default-features = false }
rodio = { version = "*", default-features = false, features = [
    "wav",
    "playback",
] }
serde = { version = "*", features = ["derive"] }
serde_json = "*"
dirs = "*"
egui-notify = "*"
# fontdue = "*"
ttf-parser = "*"
tray-icon = "*"

[build-dependencies]
shellexpand = "*"

[target.'cfg(windows)'.dependencies]
windows = { version = "*", features = ["Win32_System_Console"] }

[profile.dev]
debug = "line-tables-only"
codegen-backend = "cranelift"
rustflags = ["-Zthreads=8"]

[profile.dev.package."*"]
debug = false

[profile.release]
lto = "thin"
strip = true
rustflags = ["-Zthreads=8"]

[profile.release-small]
inherits = "release"
lto = "thin"
strip = true
rustflags = ["-Zthreads=8", "-Copt-level=s"]

[target.'cfg(target_os = "linux")'.profile.dev]
rustflags = ["-Zthreads=8", "-Clink-arg=-fuse-ld=mold"]

[target.'cfg(target_os = "linux")'.profile.release]
rustflags = ["-Zthreads=8", "-Clink-arg=-fuse-ld=mold"]
